<template>
    <div>
        <h3>Subpage</h3>
        <p>Default will contain the layout most commonly used on the site</p>
        <p>special pages like the home or news pages will get specific layouts.</p>
        <p>Recrete "about &amp; policies" under "info" as it's fairly complex</p>
        <h4>Subpage Links</h4>
        <p>Ideally here would include simple to:subpage links but I can't write them relatively :/</p>
        <nuxt-child/>
    </div>
</template>

<script>
export default {
    Data () {
        return {
            name: 'subpage'
        }
    }
}
</script>