<template>
    <div>
        <h5>Subpage 2</h5>
        <p>Another equally arbritrary child-compnnent</p>
    </div>
</template>

<script>
export default {
    data () {
        return {
            name: 'sub2'
        }
    }
}
</script>