<template>
    <div>
        <h5>Subpage 1</h5>
        <p>some arbritraty level of linking I want to simplify the nav to</p>
    </div>
</template>

<script>
export default {
    data () {
        return {
            name: 'sub1'
        }
    }
}
</script>