<template>
  <nav>
    <h3>Nuxt Routes</h3>
    <ul>
      <li>
        <nuxt-link :to="'/info'">Information</nuxt-link>
        <ul>
          <li>
            <nuxt-link to="/info/subpage">Info subpage</nuxt-link>
          </li>
        </ul>
      </li>
      <li>
        <nuxt-link :to="'/news'">News</nuxt-link>
      </li>
    </ul>
    <h3>Static Routes</h3>
    <ul>
      <li>
        <a href="about/about-us.html">About Us</a>
        <ul>
          <li>
            <a href="about/admissions.html">admissions</a>
          </li>
          <li>
            <a href="about/calendar-dates.html">calendar-dates</a>
          </li>
        </ul>
      </li>
    </ul>
    <h3>Programatic Routes to 2 levels down</h3>
    <ul>
      <li v-for="top in nav" v-bind:key="top.path">
        <a :href="top.path">{{top.name}}</a>
        <ul v-if="top.children">
          <li v-for="one in top.children" v-bind:key="one.path">
            <a :href="[top.path,one.path].join('/')">{{one.name.split('-').slice(-1)[0]}}</a>
            <ul v-if="one.children">
              <li v-for="two in one.children" v-bind:key="two.path">
                <a
                  :href="[top.path,one.path,two.path].join('/')"
                >{{two.name.split('-').slice(-1)[0]}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</template>


<style scoped>
</style>
<script>
export default {
  data() {
    return {
      nav: this.$router.options.routes
    };
  }
};
// Route Example
// [
//   {
//     path: "/info",
//     component: {
//       _custom: { type: "function", display: "<span>ƒ</span> _3a213870()" }
//     },
//     name: "info",
//     children: [
//       {
//         path: "subpage",
//         component: {
//           _custom: { type: "function", display: "<span>ƒ</span> _a0edf4e2()" }
//         },
//         name: "info-subpage",
//         children: [
//           {
//             path: "subsubpage1",
//             component: {
//               _custom: {
//                 type: "function",
//                 display: "<span>ƒ</span> _c73497fa()"
//               }
//             },
//             name: "info-subpage-subsubpage1"
//           },
//           {
//             path: "subsubpage2",
//             component: {
//               _custom: {
//                 type: "function",
//                 display: "<span>ƒ</span> _c71868f8()"
//               }
//             },
//             name: "info-subpage-subsubpage2"
//           }
//         ]
//       }
//     ]
//   },
//   {
//     path: "/news",
//     component: {
//       _custom: { type: "function", display: "<span>ƒ</span> _faac77d6()" }
//     },
//     name: "news"
//   },
//   {
//     path: "/",
//     component: {
//       _custom: { type: "function", display: "<span>ƒ</span> _d9ca0100()" }
//     },
//     name: "index"
//   }
// ];
</script>