<template>
  <div>
    <div class="topbanner" v-bind:class="siteType">
      <img src="~/assets/crest_white.svg" alt="School Crest" class="logo">
      <h1>Birkdale High School</h1>
      <p>Latest Information from our school, including news stories and upcoming events.</p>
      <navigation/>
    </div>
    <p>Custom layout called 'panels'</p>
    <nuxt/>
    <site-footer/>
    <div class="bottombanner">
      <p>&copy; 2018 Birkdale High School</p>
    </div>
  </div>
</template>

<script>
import SiteFooter from './SiteFooter.vue'
import Navigation from './Navigation.vue'

export default {
  components: {
    SiteFooter,
    Navigation
  },
  props: ['title', 'synopsis'],
  data: function() {
    return {
      siteType: process.env.SITE_TYPE
    }
  }
}
</script>


<style>
html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body{
  background: #FDFFFC;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
}
a {
  color: #235789;
}
a:hover {
  color: rgb(0, 0, 238);
}

.callout{
  background: #4570e5;
  color: #FDFFFC;
}
.information{
  background: #95a5a6;
  color: #FDFFFC;
}

.logo{
  width: 60px;
  margin: 5px;
}

</style>
<style scoped>
.topbanner,.bottombanner{
  background: #00004d;
  color: #FDFFFC;
}
.bottombanner{
  background: #000026;
}

.testing {
  background: #A4031F;
  background-image:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='90' height='30'><rect x='0' y='0' width='100%' height='100%' fill='none' stroke='none'/><text x='15' y='20' width='100%' height='100%' fill='#fff' fill-opacity='0.3' style='font:bold 15px sans-serif'>TESTING</text></svg>");
  background-repeat: round;
}
.staging {
  background-color: #C69E1B;
  background-image:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='90' height='30'><rect x='0' y='0' width='100%' height='100%' fill='none' stroke='none'/><text x='15' y='20' width='100%' height='100%' fill='#fff' fill-opacity='0.3' style='font:bold 15px sans-serif'>REVIEW</text></svg>");
  background-repeat: round;
}
.production {background: #00004d}
</style>
