<template>
  <div class="footer">
    <h1>About us</h1>
    <p>Birkdale High School, a limited company registered in England and Wales under Company number 07695504.</p>
    <p>Registered address: Windy Harbour Road, Southport PR8 3DT</p>
    <p>Headteacher: G Bourgade</p>
  </div>
</template>

<style scoped>
.footer{
  background: #00004d;
  color: #fff;
}
</style>
