<template>
    <div>
        <h1>Birkdale High</h1>
        <p>By default the layout most commonly used on the site, special pages like the home or news pages will get specific layouts.</p>
        <h1>TODO List for testing</h1>
        <p>Recrete "about &amp; policies" under "info" as it's fairly complex</p>
        <p>Can news items be created from a different data-source than the website?</p>
        <p>Create special page layout for news</p>
    </div>
</template>

<script>
export default {
    layout: 'panels',
    data: function() {
        return {}
    }
}
</script>