﻿<template>
  <div>
    <header class="callout">
      <h1>Page Title - {{title}}</h1>
      <p>Synopsis - {{description}}</p>
      <div>
        <p>sidebar:</p>
        <ul>
          <li>Section link 1</li>
          <li>Section link 2</li>
          <li>Section link 3</li>
        </ul>
      </div>
    </header>
    <h2>Test Linking to Binary Files</h2>
    <p>
      Git should track binary files becuase its storage size will baloon. Below are links that should/shouldn't work depending on if it's in Git LFS or not.
      Mainly for testing how deployment will work.
    </p>
    <ol>
      <li>
        <a href="files/existing_test_lfs.pdf">Existing file added to git with lfs installed</a>
      </li>
    </ol>
    <ol>
      <li>
        <a href="files/existing_untracked.pdf">Existing file not added to git</a>
      </li>
    </ol>

    <h2>Test Sub-Routing</h2>
    <h3>subpage content embedded under this heading</h3>
    <nuxt-child/>
  </div>
</template>

<script>
export default {
  asyncData() {
    return {
      title: "About & Policies",
      description: "subtext about the content on the page"
    };
  },
  head() {
    return {
      title: this.title,
      meta: [{ description: this.description }]
    };
  }
};
</script>