<template>
  <div>
    <h1>The News</h1>
    <p>Application route to create an active news page</p>
    <ol>
      <li>Import tweets onto the page</li>
      <li>Define datastructure for listing articles like a blog</li>
    </ol>
    <p>
      <input type="text" placeholder="Add an item to the sticky news list" @keyup.enter="addSticky">
    </p>
    <ul>
      <li v-for="item in sticky">
        <p>{{item.text}}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  asyncData () {
    return {};
  },
  computed: {
    sticky() {
      return this.$store.state.newsItems.list;
    }
  },
  methods: {
    addSticky(e) {
      this.$store.commit("newsItems/add", e.target.value);
      e.target.value = "";
    }
  },
  head() {
    return {
      title: "School News",
      meta: [
        {
          description:
            "This page should pagenate a list of news from a document datastore"
        }
      ]
    };
  }
};
</script>
